.customMap{
border-radius: 15px;
    margin-right: 50px;
    margin-top: 25px;
}

@media (max-width: 768px) {

    .customMap{
        border-radius: 15px;
            margin-right: 0px;
            margin-top: 25px;
            margin-bottom: 80px;
        }
   
  }